:root {
  --primary: #b34acd;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Custom Styles */

.App-header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  height: 100vh;
}

.App-header-length {
  height: 40vh;
}

.App-section {
  background-color: #fcfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.App-section label {
  font-size: small;
}

.App-section h3 {
  font-weight: 450;
}

.App-header-section h4 {
  font-weight: 250;
}

.image-icon {
  height: 60%;
  margin: 10px;
}

.card-section {
  background: #F7F8FB;
  height: 150px;
  display: flow-root;
}

/* Apply general styling to the button container */
.button-container {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
}

.App h1 {
  font-family: Inter;
  font-weight: 300;
  font-size: xx-large;
  margin: 5px;
}

.p-description {
  font-size: medium;
  color: rgb(0 0 0 / 60%);
  text-align: justify;
  justify-content: center;
  margin: 5px;
}


/* Center-align the last line */
.justified-text {
  text-align: center;
}

.max-width {
  width: 800px;
}

body {
  font-family: Inter;
  overflow-y: scroll;
}

h3 {
  font-weight: 500;
}

.header-logo-image {
  height: 400px;
  padding-bottom: 35px;
}

.github-logo-image-small {
  height: 20px;
  padding-right: 15px;
}

.btn {
  border: 2px solid var(--primary);
  background: var(--primary);
  color: rgb(255, 255, 255);
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 500rem;
  font-size: small;
  width: 170px;
  margin: 2px;
}

.margin-top {
  margin-bottom: 35px;
  margin-top: 35px;
}

.btn-outline {
  border: 2px solid var(--primary);
  background-color: #ffffff;
  color: var(--primary);
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 500rem;
  font-size: small;
  width: 170px;
  margin: 2px;
}

.btn-margin-top {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 7px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary);
}

.button:active {
  background-color: var(--primary);
}

.App-header-sub-section {
  background-color: #ebedf1;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  width: 100%;
  border-radius: 8px;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Apply general styling to the container */
.container {
  display: flex;
  justify-content: center; /* Centers the columns horizontally */
  align-items: center; /* Centers the columns vertically */
}

.container-center {
  justify-content: center; /* Centers the columns horizontally */
  align-items: center; /* Centers the columns vertically */
  flex-direction: column;
  padding: 50px;
}

.logo-container {
  display: flex;
}

/* Apply styling to the columns */
.container-column {
  align-items: center;
  font-size: 18px;
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.container-column a {
  text-decoration: none;
  color: #000;
  font-size: small;
}

.button-container {
  display: grid;
  margin-top: 60px;
}

.b {
  font-weight: 10;
}
